body {
    background-color: gainsboro;
}
.container {
    height: 200px;
    position: relative;
}
.center {
    position: absolute;
    top: -8%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#demo {
    color: red;
    text-align: center;
    padding-top: 0.35em;
    font-size: 25px;
}
button {
    font-size: 25px;
}
input {
    border-style: solid;
    font-size: 1.5em;
}
#predict {
    border-style: solid;
    font-size: 1.5em;
    position: relative;
    margin-top: 0.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
}
#predict:hover {
    color: black;
}
label {
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 0.2em;
}
input[type="radio"] {
    transform: scale(1.85);
}
.female {
    padding-top: 0.5em;
}
.female, .male {
    color: grey;
}
#predicted {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    position: fixed;
    color: grey;
    margin-top: 2%;
    white-space: nowrap;
}
.height {
    color: indianred;
}
